@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* :root {
  --primary-bg: #fff;
  --secondary-bg: #242526;
  --primary-text-color: black;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
} */

/* base style */

* {
  margin: 0;
  /* padding: 0;
  box-sizing: border-box; */
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px 10%;
  display: flex;
  align-items: center;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  /* justify-content: space-between;
  flex-wrap: wrap; */
}
.navbar .icons {
  font-size: 2.5rem;
  color: black;
  position: absolute;
  right: 5%;
  cursor: pointer;
  display: none;
}
.navbar .logo {
  width: 90px;
}
.navbar .routes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar .links{
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
.navbar .none,
.navbar .active,
.navbar .auth a {
  margin-left: 16px;
  padding: 6px;
  font-weight: bold;
}
.navbar .links a:hover,
.navbar .auth .login:hover {
  color: rgb(81, 95, 248);
}
.navbar #signup {
  background-color: rgb(81, 95, 248);
  border: none;
  border-radius: 9px;
  color: white;
  padding: 10px;
}
.navbar .auth {
  display: flex;
}
.navbar .user-img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.navbar .user-info {
  position: absolute;
  background-color: #f8f7f7;
  border: 1px solid rgb(81, 95, 248);
  border-radius: 10px;
  right: 0;
} 
.navbar .user-info .item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 3px 10px ;
}
.navbar .user-info .item:hover {
  background-color: #dddddd63;
}
.navbar .user-info .item img{
  width: 20px;
  margin: 10px ;
}
.navbar .user-info .item .name{
  width: 130px
}
.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}
.problemset-content {
  margin: 40px 0;
  padding: 20px;
}
.active {
  color: rgb(81, 95, 248);
  border-bottom: 3px solid rgb(81, 95, 248);
}
.navbar #check {
  display: none;
}

/* NavBar PointBreaks */
@media (max-width: 992px) {
  .navbar {
    padding:20px 5%;
  }
}

@media (max-width: 768px) {
  .navbar .icons {
    display: inline-flex;
  }

  .navbar #check:checked~.icons #menu-icon {
    display: none;
  }

  .navbar .icons #close-icon {
    display: none;
  }

  .navbar #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar .routes {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    margin: 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    z-index: 100;
    overflow: hidden;
    transition: .3s ease;
  }
  
  .navbar .routes {
    display: block;
  }
  .navbar .links {
    margin: 0;
    display: block;
    border-bottom: 1px solid #f2f2f2;
  }
  .navbar .auth {
    display: block;
  }
  .navbar .auth a,
  .navbar .links a {
    margin-left: 0;
    display: block;
    width: fit-content;
    margin: 0.6rem 0;
    text-align: center;
  }

  .navbar .dropdown {
    margin: 0.6rem 0;
    display: flex;
    justify-content: center;
  }
  .navbar .user-info {
    top: 266px;
    right: unset;
  }

  .navbar .link-container {
    display: flex;
    justify-content: center;
  }
}


/* form auth */

.form-auth {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(81, 95, 248);
  border-radius: 15px;
  padding: inherit;
  /* height: 360px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd26;
}
.form-auth label {
  text-align: left;
  display: block;
  margin-top: 25px;
}
.form-auth h2 {
  font-size: 20px;
  color : rgb(81, 95, 248);
  margin-bottom: 30px;
  margin-top: 25px;
}

.form-auth input {
  width: 320px;
  padding: 14px 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 25px;
}

.form-auth input[type="checkbox"] {
  width: auto;
  display: inline;
}


.form-checkbox-container{
  margin-top: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.form-checkbox-container label {
  margin: 0px;
  display: inline;
}

.form-auth button {
  background-color: rgb(81, 95, 248);
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* problemset */

.problemlist-header {
  display: flex;
}
.add-problem {
  margin-left: auto;
  padding: 8px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}
.add-problem:hover {
  background-color: #dddddd63;
}
.problem {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.table-titles {
  display: flex;
  padding: 10px 16px;
  margin: 20px 0;
}
.table-titles .status {
  margin-left: auto;
  width: 65px;
  text-align: center;
}
.table-titles .diff {
  margin-left: 20px;
  width: 90px;
  text-align: center;
}
.table-titles .score {
  margin-left: 20px;
  width: 50px;
  text-align: center;
}
.problem:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.problem h2 {
  font-size: 20px;
  color: rgba(0, 0, 255, 0.601);
  margin-bottom: 8px;
}
a {
  text-decoration: none;
}
.problem-status {
  margin-left: auto;
  width: 65px;
  font-weight: bold;
  text-align: center;
}
.problem-diff {
  margin-left: 20px;
  width: 90px;
  text-align: center;
  font-weight: bold;
  color: black;
}
.problem-score {
  margin-left: 20px;
  width: 50px;
  font-weight: bold;
  text-align: center;
}
.problemset {
  display: flex;
  justify-content: space-evenly;
}
.problemset .problems {
  width: 1000px;
}
.problemset .sidebar {
  width: 175px;
  margin-top: 63px;
}
.sidebar .item-content{
  display: flex;
  flex-wrap: wrap;
}
.sidebar .item h3 {
  padding: 5px;
}
.problemset .tag {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background-color: #dddddd63;
  cursor: pointer;
}

@media (max-width: 768px) {
  .problemset {
    display: block;
  }
  .problemset .problems {
    width: unset;
  }
  .problem,
  .problem-list .table-titles {
    padding: 10px 0;
  }
}

.create {
  border: 2px solid #b3b3b3;
  border-radius: 10px;
  padding: 20px;
}
.create h2 {
  margin-top: 15px;
  margin-bottom: 30px;
}
.create form {
  margin-left: 7px;
}
.create .input-field {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}
.create .input-field label {
  margin-right: 5px;
  font-size: larger;
  font-weight: 600;
  min-width: 80px;
}
.create .input-field #memory-limit {
  width: 60px;
}
.create .input-field #memory-limit, 
.create .input-field #time-limit {
  margin-left: 10px;
}
.create .input-field #score, 
.create .input-field #time-limit {
  margin-right: 50px;
} 
.create .input-field input, 
.create .input-field select, 
.create .input-field textarea {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  font-size: initial;
}
.create-btn {
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 17px;
  border: none;
  border-radius: 9px;
  color: white;
  background-color: rgb(81, 95, 248);
  cursor: pointer;
}
.create .tags {
  display: flex;
  margin-left: 80px;
  flex-wrap: wrap;
  margin-top: 5px;
}
.create .tag {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background-color: #dddddd63;
}
.create #multiple,
.create #single {
  margin: 0 10px;
}
.create .example-input {
  margin-left: 65px;
}
@media (max-width: 1000px) {
  .create .input-field #unused-label {
    display: none;
  }
  .create .example-input,
  .create .tags {
    margin-left: 0;
  }
}

/* problem details */

.problem-details h2 {
  font-size: 25px;
  color: rgba(0, 0, 255, 0.601);
  margin-bottom: 10px;
}
.problem-details,
.prb-details div {
  white-space: pre-line;
  margin: 20px 0;
}
.problem-details .submit {
  background-color: rgb(81, 95, 248);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.prb-details {
  overflow-y: scroll;
  height: 650px;
  border: 2px solid #b3b3b3;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  width: 70%;
}
.code {
  height: 650px;
  border: 2px solid #b3b3b3;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  width: 70%;
}
.prb-code {
  display: flex;
  margin: -20px 0;
}
.prb-navbar .prb-link {
  margin: 5px;
  padding: 8px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  background-color: white;
}
.prb-navbar .prb-link:hover {
  background-color: #dddddd63;
}
.prb-link-active {
  background-color: #dddddd63;
  margin: 5px;
  padding: 8px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags .tag {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background-color: #dddddd63;
  cursor: pointer;
}
.code-editor {
  margin: 20px 0; 
  border: 1px solid #b3b3b3;
}
.code-editor section span {
  font-family: Cascadia, monospace;
  /* font-family: courier, monospace; */
}

@media (max-width: 768px) {
  .prb-code {
    display: block;
    margin: -16px 0;
  }
  .prb-details,
  .prb-code .code {
    width: unset;
  }
}

/* contests */

.contest {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.contest:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.contest h2 {
  font-size: 20px;
  color: rgba(0, 0, 255, 0.601);
  margin-bottom: 8px;
}

/* Section Styles */
#team ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#team li {
  padding: 10px;
  text-align: center;
}

#team img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}
/* Global Styles */

.aboutus main {
  margin: 10px;
}

.aboutus p {
  line-height: 1.5;
  margin-top: 10px;
}

.aboutus section {
  margin: 50px 0;
}
.aboutus span {
  font-weight: bold;
}
.aboutus ul {
  margin-top: 10px;
  padding: 0;
}
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #dddddd63;
}

/* problem details example  */

.exp-text .output {
  margin-bottom: 35px;
}
.exp-text .output,
.exp-text .input {
  border: 1px solid #888;
  width: 35%;
}
.exp-text .input .title-inp,
.exp-text .output .title-outp {
  display: flex;
  align-items: center;
  padding: 0.25em;
  border-bottom: 1px solid #888;
  text-transform: lowercase;
  font-weight: 700;
  margin: 0;
}
.exp-text .input pre,
.exp-text .output pre {
  line-height: 1.25em;
  padding: 0.25em;
  margin: 0;
  background-color: #efefef;
}
.copy-btn {
  margin-left: auto;
  margin-right: 2px;
  width: 25px;
  cursor: pointer;
}

/* submission */
.submission-list div {
  display: flex;
  padding: 5px 0;
  margin: 40px 0 20px 0;
  justify-content: space-between;
}
.submission-list div a,
.submission-list div h3,
.submission-list div div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.submission-list .result,
.submission-list .problem-title {
  width: 90px;
}
.submission-list .user {
  width: 120px;
}
.submission-list .lang {
  width: 65px;
}
.submission-list .time {
  width: 65px;
}
.submission-list .memory {
  width: 85px;
}
.submission-list .created {
  width: 100px;
}
.submission-list .submission,
.submission-list .submission div {
  margin: 0;
}
.submission-list .submission:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}
.submission-list .submission .problem-title,
.submission-list .submission .user {
  font-weight: bold;
  /* color: rgba(0, 0, 255, 0.601); */
}
.submission-list .submission .problem-title:hover,
.submission-list .submission .user:hover {
  color: rgba(0, 0, 255, 0.601);
}
.submission-list .submission-details,
.submission-list .submission-details .testcase,
.submission-list .submission-details .testcase div {
  margin: 0;
  display: block;
}
.submission-details .mobile {
  display: none;
}
.submission-details .testcase div{
  text-align: initial;
}
.submission-details .testcase .input, 
.submission-details .testcase .output, 
.submission-details .testcase .expected {
  background-color: #efefef;
}
.submission-details .source_code,
.problem-details .source_code {
  text-align: initial;
  white-space: pre;
  border: 1px solid #d0cece;
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 992px) {
  .submission-details .mobile {
    display: block;
    margin: 0;
  }
  .submission-details .mobile div {
    margin: 0;
    text-align: initial;
    display: block;
  }
}


/* UP Button  */

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 100px;
  right: 60px;
  z-index: 20;
}
.icon-style{
  background-color: rgb(81, 95, 248);
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: rgb(81, 95, 248);
  border: 2px solid rgb(81, 95, 248);
}
@media (max-width: 768px) {
  .icon-position {
    right: 20px;
    bottom: 50px;
  }
}
/* @keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
} */


/* board */

.board {
  text-align: center;
}
.board h2 {
  margin: 25px;
}
.board .profile .item,
.board .profile .score {
  display: flex;
  align-items: center;
}
.board .profiles {
  width: -webkit-fill-available;
  width: -moz-available; ;
  background-color: #dddddd26;
  border: 1px solid #efefef;
  border-radius: 15px;
}
.board .profile {
  display: flex;
  padding: 10px;
  height: 50px;
}
.board .profile img {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  margin-right: 10px;
}
.board .profile .score {
  margin-left: auto;
}

.select-lang {
  width: 190px;
  padding: 3px;
  border-radius: 5px;
  font-size: 15px;
}

.submission .btn {
  display: flex;
  align-items: center;
} 
.btn button {
  padding: 10px;
  font-size: medium;
}

/* Pagination */
.pagination {
  margin-top: 25px;
  display: flex;
  border-top: 1px solid #f2f2f2;
  padding-top: 20px;
}
.pagination .page-link,
.pagination .page-link-active {
  margin: 5px;
  padding: 8px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 21px;
  width: 18px;
  text-align: center;
}
.pagination .page-link:hover {
  background-color: #dddddd63;
}
.pagination .page-link-active {
  background-color: #dddddd63;
}
.pagination select {
  margin: 5px;
  padding: 8px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  font-weight: 500;
  font-size: 21px;
  width: auto;
  text-align: start;
  margin-left: auto;
}

@media (max-width: 768px) {
  .pagination {
    display: block;
  }
  .pagination select {
    margin: 20px 5px 5px 5px;
  }
}

/* Profile */
.profile-content {
  display: flex;
}
.profile-content .sidebar1{
  border: 1px solid rgb(81, 95, 248);
  border-radius: 15px;
  padding: 10px;
  background-color: #dddddd26;
  width: 250px;
  margin-right: 10px;
}
.profile-content .profile-details {
  display: flex;
  align-items: center;
}
.profile-content .profile-img {
  width: 110px;
  border-radius: 27px;
  padding: 10px;
}
.profile-content .info {
  padding: 10px;
}
.profile-content .info div {
  margin: 15px 0;
}
.profile-content .name {
  font-weight: bold;
}
.profile-content .rank,
.sidebar2 .solved-details,
.sidebar2 .solved-details .diff {
  display: flex;
}
.profile-content .rank h4 {
  margin-left: 7px;
}
.profile-content .edit {
  background-color: rgb(81, 95, 248);
  border: none;
  border-radius: 9px;
  color: white;
  padding: 10px;
  width: -webkit-fill-available;
  width: -moz-available; 
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
}
.profile-content .class-title {
  font-weight: bold;
  margin: 10px 0;
  display: flex;
}
.profile-content .subitems {
  display: flex;
  flex-wrap: wrap;
}
.profile-content .subitem {
  display: flex;
  padding: 3px;
  margin: 5px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  background-color: #dddddd63;
  /* cursor: pointer; */
}

.sidebar2 {
  width: -webkit-fill-available;
  width: -moz-available; 
}
.profile-content .solved-problems {
  margin-bottom: 10px;
}
.profile-content .solved-problems,
.profile-content .recent-submissions {
  border: 1px solid rgb(81, 95, 248);
  border-radius: 15px;
  padding: 10px;
  background-color: #dddddd26;
}


.solved-details .solved-pourcentage {
  border: 1px solid rgb(81, 95, 248);
  border-radius: 50%;
  padding: 0 30px;
  margin: 20px;
  display: flex;
  align-items: center;
}
.solved-pourcentage .solved-number {
  font-weight: bold;
  display: flex;
  justify-content: center
}
.solved-details .diff-name{
  width: 70px;
}
.solved-details .difficulties {
  width: -webkit-fill-available;
  width: -moz-available; 
}
.solved-details .difficulty {
  padding: 5px;
}
.uncolored-bar,
.colored-bar {
  margin: 5px 0;
  padding: 5px 0;
  border-radius: 5px
}
.colored-bar {
  margin-top: -15px;
}

.sidebar2 .view-all {
  margin-left: auto;
  /* margin-right: 10px; */
}
.sidebar2 .view-all:hover {
  color: rgb(81, 95, 248);
  cursor: pointer;
}

@media (max-width: 768px) {
.profile-content {
  display: block;
}

.profile-content .sidebar1 {
  width: unset;
  margin: 0 0 10px 0;
}
}

@media (max-width: 992px) {
  .sidebar2 .lang,
  .sidebar2 .memory,
  .sidebar2 .created,
  .sidebar2 .time {
    display: none;
  }
  .submission-list .lang, 
  .submission-list .time, 
  .submission-list .memory, 
  .submission-list .created {
    display: none;
  }
}


.password-field {
  display: flex;
  align-items: center;
  justify-content: right;
}
.password-icon {
  width: 20px;
  position: absolute;
  margin-right: 15px;
  cursor: pointer;
}


/* Edit Profile */
.edit {
  border: 2px solid #b3b3b3;
  border-radius: 10px;
  padding: 20px;
}
.edit form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.edit form .inputs {
  padding: 10px 0;
}
.edit form .photo img {
  border-radius: 15px;
  width: 250px;
  height: 250px;
}
.edit form .input-field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}
.edit form label {
  font-weight: 600;
  font-size: large;
  padding-right: 10px;
}
.edit form input {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  font-size: initial;
}
.edit .save-btn {
  background-color: rgb(81, 95, 248);
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
}
.edit .photo {
  position: relative;
  cursor: pointer;
  width: 250px;
  height: 250px;
}
.edit .img-bg {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
  background-color: #00000042;
  border-radius: 15px;
}
.edit .camera-img {
  position: absolute;
  left: 0;
}


