/node_modules
package-lock.json 
/client/node_modules
/server/node_modules


/client/package.lock.json
/server/package.lock.json


/server/.env
/server/.env.test
/server/uploads/
/server/img/


dump.rdb